<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Echo361"
        >

        <meta-data
            android:name="com.google.firebase.default_web_client_id"
            android:value="@string/default_web_client_id" />
        <activity
            android:name=".LayoutActivity.ForumDetailActivity"
            android:exported="false" />
        <activity
            android:name=".LayoutActivity.SearchChatTarget"
            android:exported="false" />
        <activity
            android:name=".LayoutActivity.AdminDeletionActivity"
            android:exported="false" />
        <activity
            android:name=".LayoutActivity.ForumTotalActivity"
            android:exported="false" />
        <activity
            android:name=".LayoutActivity.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".LayoutActivity.CourseMainpageActivity"
            android:exported="false" />
        <activity
            android:name=".LayoutActivity.MyCourseActivity"
            android:exported="false" />
        <activity
            android:name=".LayoutActivity.DropActivity"
            android:exported="false" />
        <activity
            android:name=".LayoutActivity.EnrollActivity"
            android:exported="false" />
        <activity
            android:name=".LayoutActivity.StudentMainpageActivity"
            android:exported="false" />
        <activity
            android:name=".LayoutActivity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>